<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <meta name="description" content="User Authentication">
  <meta name="author" content="">

  <title><%= title %></title>

  <link rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <% if (typeof user !== 'undefined') { %>
              <p class="navbar-text">
                <strong>Hi, </strong>
                <img src="<%= user.avatar%>" width="20" height="20">
                <%= user.username%>
              </p>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/logout">Log Out</a>
          </li>
            <% } else { %>
              <a href="/users/users_signin">Sign In</a>
            <% } %>
        </ul>
      </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
    </nav>

    <% if (typeof message !== 'undefined') { %>
      <p class="alert alert-warning"> <%= message %></p>
    <% } %>

    <% if (locals.success) { %>
      <p class="alert alert-success"> <%= locals.success %></p>
    <% } %>
    
<!--    <% if (typeof success !== 'undefined') { %>
      <p class="alert alert-success"> <%= success %></p>
    <% } %>
 -->   
    <% if (locals.notice) { %>
      <p class="alert alert-info"> <%= notice %></p>
    <% } %>
    
    <div class="jumbotron">
      <h1>Sign in</h1>
      <p>We're using passport.js to demontstrate user authentication. Please sing-in with your local, Twitter, Google, of Facebook account to view your profile.</p>
      <p>
        <a data-toggle="collapse" href="#local" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in Locally</a>
        <a href="auth/twiter" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Twitter</a>
        <a href="auth/google" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Google</a>
        <a href="auth/facebook" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Facebook</a>
      </p>

      <div id="local" class="collapse">
        <a data-toggle="collapse" href="#local-sign-in" class="btn btn-default btn-md" role="button">I already have an account</a>
        <a data-toggle="collapse" href="#local-reg" class="btn btn-default btn-md" role="button">I need to make an account</a>
      </div>

      <form id="local-sign-in" class="collapse" action="/users/login" method="post">
        <div>
          <p></p>
          <label>Username:</label>
          <input type="text" name="username"/>
        </div>
        <div>
          <label>Password:</label>
          <input type="password" name="password"/>
        </div>
        <div>
          <input type="submit" class="btn btn-primary btn-sm" value="Log in"/>
        </div>
      </form>

      <form id="local-reg" class="collapse" action="/users/local-reg" method="post">
        <div>
          <p></p>
          <label>New Username:</label>
          <input type="text" name="username"/>
        </div>
        <div>
          <label>New Password:</label>
          <input type="password" name="password"/>
        </div>
        <div>
          <input type="submit" class="btn btn-primary btn-sm" value="Register"/>
        </div>
      </form>


  </div> <!-- /.container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
