<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- include ('../partials/header'); -%>
    </head>

    <body>
        <div class="container-fluid">
            <%- include ('../partials/navigation'); -%>

            <div class="row">
                <div class="col-sm-2">
                    <!-- block menu -->
                    <%- include ('partials/menu.ejs'); -%>
                </div>
                <div class="col-sm-10">
                    <!-- block content -->
                    <h1>Category: <%= category.description %></h1>
                    <p>Tasks within this category:</p>
                    <hr>
                    <% if (category_tasks.length > 0) { %>
                        <% category_tasks.forEach(function(task) { %>
                            <p><a href="<%= task.url %>"><%= task.description %></a></p>
                            <p><%= task.actionHolder %></p>
                            <p><%= task.status.description %></p>
                            <hr>
                        <% }); %>
                    <% } else { %>
                        <p>No tasks within this category</p>
                    <% }; %>
                    <hr>
                    <p><a href="<%= category.url %>/delete">Delete category</a></p>
                </div>
            </div>
        </div>
    </body>    
</html>